.header{
  margin: 0px auto;
  width: 800px;
  padding-top: 50px;
  padding-left: 20px;
}
.head_title{

  font-size: 70px;
  font-weight: 70px;
  /* color: #ffffff; */
  color: #001e2c;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 50px;
}
.name_title{
  font-size: 60px;
  font-weight: 70px;
  color: #ffffff;
  /* color: #001e2c; */
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 50px;
}
.content{

  width: 50%;
  min-width: 500px;
  max-width: 950px;
  margin: auto;
  margin-top: 200px;
  /* position: absolute; */
  /* top: 300px; */
}
.work{
  margin: auto;
  margin-top: 20px;
  border-radius: 20px;
  background-color: #001e2c;
  color: #ffffff;
  padding: 30px;
}
.tool{
  margin:auto;
  margin-top: 20px;
  border-radius: 20px;
  background-color: #001e2c;
  color: #ffffff;
  padding: 30px;
}
.blog{
  margin:auto;
  margin-top: 20px;
  border-radius: 20px;
  background-color: #001e2c;
  color: #ffffff;
  padding: 30px;
}
.email{
  /* margin:auto; */
  margin-top: 20px;
  border-radius: 20px;
  background-color: #001e2c;
  color: #ffffff;
  text-align: center;
  padding: 20px;
}