@tailwind base;
@tailwind components;
@tailwind utilities;
.mask-gradient{
    -webkit-mask-image: linear-gradient(to bottom,transparent 10%, black 20%, black 80%,transparent 90%);
     mask-image: linear-gradient(to bottom, transparent 10%, black 20%, black 80%,transparent 90%);
}
.image-size{
    @apply
    /* w-1/4 */
    /* w-3/4 */
    xs:w-16
    sm:w-24
    md:w-48
    lg:w-48
    /* max-w-[200px] */
    aspect-square
}
.image-container{
    @apply
    flex
    flex-wrap
    flex-row
    /* block-container */
    backdrop-blur-lg
    w-4/5

}
.scroll-container{
    @apply
    relative 
    w-full 
    flex 
    flex-col
    px-3
    /* gap-6  */
    /* snap-y */
    /* snap-proximity
    snap-mandatory */
    /* snap-normal */
    overflow-y-auto; 
    /* pb-14 */
    /* aspect-square; */
    aspect-ratio: 2/1;
}
.scroll-block{
    /* scroll-snap-align: start; */
    @apply
    snap-center 
    shrink-0
    /* snap-always
    snap-center
    shrink-0 */
    /* mx-auto */
    /* my-auto */
}
/* .block-image{
    @apply 
    mx-auto
    rounded-xl
    aspect-square
    bg-white
    bg-transparent
} */
.block-text{
    @apply 
    text-white
    sm:text-sm
    md:text-base
    lg:text-lg
    xl:text-xl
    text-center
    mx-auto
    sm:my-auto
    md:my-auto

    /* custom */
}
.border-color{
    @apply 
    border-[#44009d]
    bg-[rgba(12,15,50,0.68)]
    border-opacity-20
    /* backdrop-blur-lg */

}