.preview {
    color: #FFFFFF;
    background-color: #272822;
}

.preview img {
    position: relative;
    width: 70%;
}

.preview a {
    color: #337ab7;
}

.preview table {
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #c0c0c0;
    width: 300px;
}

.preview th,
.preview td {
    border: 1px solid #d0d0d0;
    color: #cccccc;
    padding: 10px;
}

.preview th {
    background-color: rgb(206, 202, 255);
    font: bold 16px "微軟雅黑";
    color: rgba(0, 0, 0, 0.537);
}

.preview td {
    font: 14px "微軟雅黑";
}


/* /html/body/div[2]/p[11]/img[1] */